<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="~/Content/css/LoginForm.css">
    <link rel="stylesheet" href="~/Content/css/UserDetailForm.css" />
    <link rel="stylesheet" href="~/Content/css/RetrieveUser.css" />
    <link rel="stylesheet" href="~/Content/css/Home.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
        <div id="Notice"></div>
        @RenderBody()
</body>
</html>